.message-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
  }
  
  .message-input input {
    flex: 1;
    padding: 10px;
  }
  
  .icon {
    cursor: pointer;
  }
  