

.school-performance{
    width: 100%;
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    
}
.school-performance-heading{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: #303972;
    /* padding-right: 30px; */

}

.school-performance .hint{
    display: flex;
    width: 20%;
    justify-content: space-between;
}
.school-performance-heading .hint .legend{
    display: flex;
    gap: 5px;

}

.school-performance-heading .hint .legend p{
  color : #A098AE
}
.school-performance-heading .hint .legend p b{
    color: #303972;
}
.school-performance .chart{
    width: 100%;
    display: flex;
    justify-content: center;
   padding-bottom: 50px;
    
}
.school-performance .chart img{
    width: 95%;
    align-items: center;
}