.chatNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.chatNav .chatNavRight{
    display: flex;
    align-items: center;
    gap: 20px;
    /* border: 1px solid black;
    width: 60%; */
}

.chatNav h1{
    color: #303972;
    cursor: pointer;
}

.chat-container {
    display: flex;
    height: 78.5vh;
    background: white;
    margin: 0px 30px 50px 30px;
    /* border-radius: 50px; */
    /* border: 1px solid black; */
    border-radius: 20px;
    
  }
  