* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.teachers-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}


.teachers-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.teacher-list,
.teacher-nav,
.teacher-pages {
  width: 100%;
}
