.dashboard-content{
    width: 100%;
}
.content-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: #303972;
}


.school-calender-finance{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}